/URI/INICIANTE/.vs
/URI/INICIANTE/Output
/URI/INICIANTE/AreaDoCirculo/obj
/URI/INICIANTE/ExtremamenteBasico/obj
/URI/INICIANTE/HelloWord/obj
/URI/INICIANTE/SomaSimples/obj
/URI/INICIANTE/ProdutoSimples/obj
/URI/INICIANTE/Media1/obj
/URI/INICIANTE/Media2/obj
/URI/INICIANTE/Diferenca/obj
/URI/INICIANTE/Salario/obj
